@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;700&family=IBM+Plex+Sans:wght@200;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0 0 72px;
}
* {
  box-sizing: border-box;
}

--root {
  font-size: 16px;
}

body {
  font: 1rem "IBM Plex Sans", Helvetica, Arial, sans-serif;
  padding: 0 5vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: rgb(59, 174, 220);
  text-decoration: none;
}

button {
  background-color: black;
  color: whitesmoke;
  border: 0;
  padding: 0.5rem 1rem;
}

button:hover {
  cursor: pointer;
  background-color: #333;
}
button:active {
  background-color: #444;
}

.flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#code-block {
  padding: 1rem 2rem;
  background-color: rgb(242, 242, 242);
  border-radius: 0.5rem;
  font-family: 'IBM Plex Mono', monospace;
  width: 100%;
}

#display-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 100%;
  margin-bottom: 20px;
}

.card {
  padding: 1rem 2rem;
  background-color: rgb(241, 242, 255);
  border-radius: 0.5rem;
}

.map {
  height: 200px
}

.footer {
  font-family: 'IBM Plex Mono', monospace;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  color: white;
  background-color: black;
}