@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;700&family=IBM+Plex+Sans:wght@200;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font: 14px "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #00B7FF;
}

h1 {
  color: #444;
}

#code-block {
  padding: 20px 40px;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
  font-family: 'IBM Plex Mono', monospace;
  width: 90vw;
}

.footer {
  font-family: 'IBM Plex Mono', monospace;
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 10px;
  color: white;
  background-color: black;
}